* {
    box-sizing: border-box;
    margin: 0;
}

// body {
//     // display: flex;
//     // flex-wrap: wrap;
//     // flex-direction: column;
// }

button {
    padding: 1rem;
    margin: 10px;
    border: 1px solid darkorange;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
}